# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-evrmore.desktop

[Desktop Entry]
Comment=Lightweight Evrmore Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-evrmore %u"
GenericName[en_US]=Electrum Evrmore Wallet
GenericName[ru_RU]=Electrum Evrmore Wallet
GenericName=Electrum Evrmore Wallet
Icon=electrum-evrmore
Name[en_US]=Electrum Evrmore Wallet
Name[ru_RU]=Electrum Evrmore Wallet
Name=Electrum Evrmore Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum-evrmore
Terminal=false
Type=Application
MimeType=x-scheme-handler/evrmore;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-evrmore --testnet %u"
Name=Testnet mode
